@use '../../../sass/variables.scss' as v;

.keyboard-container{
    height: calc(100vh);
    flex-direction: column;
}

.keyboard{
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 400px;
    margin: auto;

    .keyboard-item:hover{
        cursor: pointer;
      /*   background-color:  v.$selection-color; */
    }

    .active{
        background-color: v.$keyboard-color;
    }

}

.keyboard-error,
.disabled-keyboard{
    pointer-events: none;
}

.keyboard-error{
    background-color: v.$keyboard-error-bg;
}

.start-btn{
 background-color: v.$main-color;
}