@use '../../../sass/variables.scss' as v;



.keyboard{
    width: 100%;
    height: 400px;
   
    .keyboard-item:hover{
        cursor: pointer;
      /*   background-color:  v.$selection-color; */
    }

    .active{
        background-color: v.$main-color;
    }

}

.keyboard-error,
.disabled-keyboard{
    pointer-events: none;
}

.keyboard-error{
    background-color: v.$keyboard-error-bg !important; 
}

.keyboard-success{
    background-color: v.$keyboard-success-bg !important;
}

