@use '../../../sass/variables.scss' as v;

#color-picker-input{
    opacity: 0;
    position: absolute;
    left: 50%;
    pointer-events: none;
}

.color-picker-icon{
   cursor: pointer;
}

.start-btn{
    background-color: var(--main-color);
    color: #FFF;
}

.end-btn{
    background-color: red;
    color: #FFF;
}

.menu-row{
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.color-picker-icon,
.attemp-remaining-icon{
    font-size: 1.5em;
    color: var(--main-color);
}

.choose-difficulty{
    width: 200px;
}

.game-title{
    font-family: 'Press Start 2P', cursive;
    font-weight: 600;
    font-size: 30px;
    color: var(--main-color);
}

.attemps-remaining-container{
    width: 80px;
    justify-content: end;
}

