<div class="shadow px-3 mb-3">
    <div class="menu-row">
        <div class="d-flex">Time: {{counter}}</div>
    </div>
    <div class="menu-row">
        <button type="button" class="btn start-btn" (click)="startGame()"
            *ngIf="gameStatus == gameStatusEnum.GameOver">Start</button>
        <button type="button" class="btn end-btn" (click)=" this.onGameOver.emit()"
            *ngIf="gameStatus == gameStatusEnum.GameStarted">End Game</button>
        <div class="d-flex"><i class="fa-solid fa-heart attemp-remaining-icon me-1"
                *ngFor="let _ of [].constructor(attempsRemaining)"></i></div>
    </div>
</div>