@use '../../../sass/variables.scss' as v;

.start-btn{
    background-color: #30A2FF;
    color: #FFF;
}

.end-btn{
    background-color: red;
    color: #FFF;
}

.menu-row{
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.attemp-remaining-icon{
    font-size: 1.5em;
    color: v.$main-color;
}